dev.ksi.ii.uj.edu.pl:80 {
  root /srv/ksi/dev
  gzip

  # https://github.com/abiosoft/caddy-git
  # todo: https://developer.github.com/webhooks/ + https://github.com/KSIUJ/www.ksi/settings/hooks/new
  git {
    repo        https://github.com/KSIUJ/www.ksi
    path        ../_www
    branch      ksi-history
    interval    60 # seconds
    then        /bin/bash -c "cd jekyll/ && bundle install --path ~/bundle && bundle exec jekyll build --destination /srv/ksi/dev"
  }
}


ksi.ii.uj.edu.pl:443 {
  root /srv/ksi/www
  gzip

  # https://github.com/abiosoft/caddy-git
  # todo: https://developer.github.com/webhooks/ + https://github.com/KSIUJ/www.ksi/settings/hooks/new
  git {
    repo        https://github.com/KSIUJ/www.ksi
    path        ../_dev
    branch      master
    interval    60 # seconds
    then        /bin/bash -c "cd jekyll/ && bundle install --path ~/bundle && bundle exec jekyll build --destination /srv/ksi/www"
  }
}
