{% include skel_begin.html %}

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    {% include menu.html %}

    <!-- Wrapper -->
    <section id="wrapper">
        <header>
            <div class="inner">
                {% if page.title_loc %}
                <h2>{% t page.title_loc %}</h2>
                {% else %}
                <h2>{{ page.title }}</h2>
                {% endif %}

                {% if page.data != "" %}
                <p>{{ page.date | date: "%Y-%m-%d" }}</p>
                {% endif; %}
            </div>
        </header>

        <!-- Content -->
        {{ content }}

    </section>

    <!-- Footer -->
    {% include footer.html %}

</div>
{% include skel_end.html %}
