{% include skel_begin.html %}

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    {% include menu.html %}

    <!-- Wrapper -->
    <section id="wrapper">
        <header>
            <div class="inner">
            </div>
        </header>

        <!-- Content -->
        <div class="wrapper">
            <div class="inner">
                {% if page.data != "" %}
                <h3>{{ page.date | date: "%Y-%m-%d" }}</h3>
                {% endif; %}
                {% if page.post_img_url != "" %}
                <p><img src="{{page.post_img_url}}" id="post_img"/></p>
                {% endif; %}

                {{ content }}

            </div>
        </div>

    </section>

    <!-- Footer -->
    {% include footer.html %}

</div>
{% include skel_end.html %}
