---
layout: onepage
languages:
- pl
- en
subset: frontpage
title: Home
---
<!-- Banner -->
<section id="banner">
    <div class="inner">
        <div class="logo"><!--<span class="icon ksi">ξ</span>-->&nbsp;</div>
        <h2>{% t 'title' %}</h2>
        <p>{% t 'lead' %}</p>
    </div>
</section>

<!-- Wrapper -->
<section id="wrapper">

    <section id="ksi" class="wrapper spotlight style3">
        <div class="inner">
            {% picture logo images/base/logo-ksi.png --link /about/ --a class="image" %}
            <div class="content">
                <h2 class="major">{% t 'section_ksi.title' %}</h2>
                <p>{% t 'section_ksi.text' %}</p>
                <a href="/{{ page.language }}/about/" class="special">{% t 'read_more' %}</a>
            </div>
        </div>
    </section>

    <section id="events" class="wrapper alt spotlight style1">
        <div class="inner">
            {% picture logo images/base/events.jpg --link /{{ page.language }}/events/ --a class="image" %}
            <div class="content">
                <h2 class="major">{% t 'section_events.title' %}</h2>
                <p>{% t 'section_events.text' %} </p>
                <a href="/{{ page.language }}/events/" class="special">{% t 'read_more' %}</a>
            </div>
        </div>
    </section>

    <section id="projekty" class="wrapper spotlight style2">
        <div class="inner">
            {% picture logo /images/octocat_girl.jpg --link /{{ page.language }}/projects/ --a class="image" %}
            <div class="content">
                <h2 class="major">{% t 'section_projects.title' %}</h2>
                <p>{% t 'section_projects.text' %}</p>
                <a href="/{{ page.language }}/projects/" class="special">{% t 'read_more' %}</a>
            </div>
        </div>
    </section>

    <section id="news" class="wrapper alt style3">
        <div class="inner">
            <h2 class="major">{% t 'section_news.title' %}</h2>
            <p>{% t 'section_news.text' %}</p>
            <section class="features">
            {% for post in site.posts limit:4 %}
                <article>
                    {% if post.post_img_url != "" %}
                        {% picture halfpage {{ post.post_img_url }} --link {{ post.url }} --a class="image" %}
                    {% endif; %}
                    <h3 class="major">{{ post.date | date: "%Y-%m-%d" }} {{ post.title }}</h3>
                    {{ post.excerpt }}
                    <a href="{{ post.url }}" class="special">{% t 'read_more' %}</a>
                </article>
            {% endfor %}
            </section>
            <a href="/news/" class="special">{% t 'section_news.more' %}</a>
        </div>
    </section>

</section>
