---
layout: page
languages:
- pl
- en
subset: about
title_loc: about.title
title: About KSI
---

<section id="ksi" class="wrapper spotlight style4">
    <div class="inner">
        {% picture logo images/base/logo-ksi.png --parent class="image" %}
        <div class="content">
            <p>{% t 'intro' %}</p>
        </div>
    </div>
</section>

<section id="what" class="wrapper spotlight style2 alt">
    <div class="inner">
        <div class="content">
            <h2>{% t 'what' %}</h2>
            <ul class="clean">
                <li>
                    <a href="/{{ page.language }}/events/" class="special">{% t 'organise_events' %}</a>
                </li>
                <li>
                    <a href="/{{ page.language }}/projects/" class="special">{% t 'organise_projects' %}</a>
                </li>
                <li>
                    <strong>{% t 'welcoming-blabla' %}</strong>
                </li>
            </ul>
        </div>

    </div>
</section>

<section id="structure" class="wrapper spotlight style3">
    <div class="inner">
        <div class="content">
            <h2>{% t 'structure' %}</h2>
            <p>{% t 'structure-about' %}:</p>
            <ul class="align-left">
                <li>{% t 'the-general-meeting' %},</li>
                <li>{% t 'the-board' %},</li>
                <li>{% t 'the-audit-committee' %}.</li>
            </ul>
        </div>
    </div>
</section>

<section id="board" class="wrapper spotlight style1 alt">
    <div class="inner">
        <div class="content">
            <h2>{% t 'board' %}</h2>
            <p>{% t 'board-about' %}</p>
            <div class="row align-center">
                <div class="col-3 col-12-medium"></div>
                <div class="col-6 col-12-medium">
                    <span class="image image-about">{% picture halfpage images/about/szymeczko.jpg %}</span>
                    <h3>Filip Szymeczko</h3>
                    <h5>{% t 'president' %}</h5>
                </div>
                <div class="col-3 col-12-medium"></div>
            </div>
            <div class="row align-center">
                <div class="col-6 col-12-medium">
                    <span class="image image-about">{% picture halfpage images/about/duda.jpg %}</span>
                    <h3>Dominika Duda</h3>
                    <h5>{% t 'vp' %}</h5>
                </div>
                <div class="col-6 col-12-medium">
                    <span class="image image-about">{% picture halfpage images/about/rys.jpg %}</span>
                    <h3>Paweł Ryś</h3>
                    <h5>{% t 'cfo' %}</h5>
                </div>
            </div>
            <br/>
            <div class="row align-center">
                <div class="col-6 col-12-medium">
                    <span class="image image-about">{% picture halfpage images/about/brachmanska.jpg %}</span>
                    <h3>Agata Brachmańska</h3>
                    <h5>{% t 'member-of-the-board' %}</h5>
                </div>
                <div class="col-6 col-12-medium">
                    <span class="image image-about">{% picture halfpage images/about/miskowicz.png %}</span>
                    <h3>Tomasz Miśkowicz</h3>
                    <h5>{% t 'member-of-the-board' %}</h5>
                </div>
            </div>
            <div class="row align-center">
                <div class="col-12 col-12-medium">
                    <span class="image image-about">{% picture halfpage images/about/stachura.png %}</span>
                    <h3>Franciszek Stachura</h3>
                    <h5>{% t 'member-of-the-board' %}</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="supervisor" class="wrapper spotlight style2">
    <div class="inner">
        <div class="content align-left">
            <div class="row">
                <div class="col-6 col-12-medium"></div>
                <div class="col-6 col-12-medium">
                    <h2>{% t 'supervisor' %}</h2>
                    <ul>
                        <li>dr hab. Adam Roman prof. UJ</li>
                    </ul>
                    <p>{% t 'supervisor-about' %}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="audit-committee" class="wrapper spotlight style4 alt">
    <div class="inner">
        <div class="content align-left">
            <div class="row">
                <div class="col-6 col-12-medium">
                    <h2>{% t 'audit-committee' %}</h2>
                    <p>{% t 'audit-committee-about' %}</p>
                    <ul>
                        <li>Daniel Barczyk</li>
                        <li>Tomasz Dądela</li>
                        <li>Mikołaj Janusz</li>
                    </ul>
                </div>
                <div class="col-6 col-12-medium"></div>
            </div>
        </div>
    </div>
</section>

<section id="admins" class="wrapper spotlight style1">
    <div class="inner">
        <div class="content align-left">
            <div class="row">
                <div class="col-6 col-12-medium"></div>
                <div class="col-6 col-12-medium">
                    <h2>{% t 'admins' %}</h2>
                    <p>{% t 'admins-about' %}</p>
                    <ul>
                        <li>Ignacy Alwasiak</li>
                        <li>Mikołaj Janusz</li>
                        <li>Piotr Zieliński</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="housekeepers" class="wrapper spotlight style3 alt">
    <div class="inner">
        <div class="content align-left">
            <div class="row">
                <div class="col-6 col-12-medium">
                    <h2>{% t 'housekeepers' %}</h2>
                    <p>{% t 'housekeepers-about' %}</p>
                    <ul>
                        <li>Monika Mikuła</li>
                        <li>Jakub Parapura</li>
                    </ul>
                </div>
                <div class="col-6 col-12-medium"></div>
            </div>
        </div>
    </div>
</section>

<section id="honorary" class="wrapper spotlight style2">
    <div class="inner">
        <div class="content align-left">
            <div class="row">
                <div class="col-6 col-12-medium"></div>
                <div class="col-6 col-12-medium">
                    <h2>{% t 'honorary' %}</h2>
                    <p>{% t 'honorary-about' %}</p>
                    <ul>
                        <li>Filip Szymeczko</li>
                        <li>Paweł Ryś</li>
                        <li>Mateusz Maćkowski</li>
                        <li>Adam Pardyl</li>
                        <li>Kamil Drobniak</li>
                        <li>Michał Herda</li>
                        <li>Piotr Maliszewski</li>
                        <li>Adam Piekarczyk</li>
                        <li>Wojciech Sabała</li>
                        <li>Dorota Sadza</li>
                        <li>Dominik Wołek</li>
                        <li>Dominika Zając</li>
                        <li>Adam Zydroń</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="history" class="wrapper spotlight style4 alt">
    <div class="inner">
        <h2>{% t 'history' %}</h2>

        <div class="content">
            {% assign decades_data_raw = site.data.ksi_decades | sort | reverse %}
            {% assign decades_data = decades_data_raw | where_exp: "item", "item contains 'name'" %}

            <div id="decade_navigator">
                {% for decade in decades_data %}
                <div class="decade_link" id="decade_link_{{decade.name}}">
                    <a href="javascript:openDecade( '{{ decade.name }}' )">{{ decade.name }}</a>
                </div>
                {% endfor %}
            </div>

            <div id="decade_viewer">
                {% for decade in decades_data %}
                <div class="decade" id="decade_{{decade.name}}">
                    <h1>{{ decade.name }}-{{ decade.name | plus:10 }}</h1>
                    {% assign years = decade.years | reverse %}
                    {% for year in years %}
                    <div class="year" id="year_{{ year.year }}">
                        <h3>{{ year.year }}/{{ year.year | plus:1 }} {% if year.header != nil %}- {{ year.header
                            }}{% endif %}</h3>
                        {% if year.body != nil %}
                        <div class="year_body">{{ year.body }}</div>
                        {% endif %}
                        {% if year.zarzad_info %}
                        <div class="zarzad_czlowiek">{% if year.prezes != nil %}<span
                                class="func_header">{% t 'president' %}:</span> {{ year.prezes }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.vice != nil %}<span
                                class="func_header">{% t 'vps' %}:</span> {{ year.vice }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.skarbnik != nil %}<span
                                class="func_header">{% t 'cfo' %}:</span>
                            {{ year.skarbnik }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.sekretarz != nil %}<span
                                class="func_header">{% t 'secretary' %}:</span>
                            {{ year.sekretarz }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.czlonkowie != nil %}<span
                                class="func_header">{% t 'board_members' %}:</span>
                            {{ year.czlonkowie }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.admini != nil %}<span
                                class="func_header">{% t 'administrators' %}:</span>
                            {{ year.admini }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.pelnomocnicy != nil %}<span
                                class="func_header">{% t 'plenipotentiaries' %}:</span>
                            {{ year.pelnomocnicy }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.biblioteka != nil %}<span
                                class="func_header">{% t 'librarians' %}:</span>
                            {{ year.biblioteka }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.gospodarz != nil %}<span
                                class="func_header">{% t 'housekeepers' %}:</span>
                            {{ year.gospodarz }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.rewizyjna != nil %}<span
                                class="func_header">{% t 'audit_committee' %}:</span>
                            {{ year.rewizyjna }} {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section id="statute" class="wrapper spotlight style1">
    <div class="inner">
        <div class="content align-left">
            <div class="row">
                <div class="col-6 col-12-medium"></div>
                <div class="col-6 col-12-medium">
                    <h2>{% t 'statute' %}</h2>
                    <p>{% t 'statute-about' %}</p>
                    <a href="/files/statut2019.pdf" class="button icon solid fa-file-text">PDF</a>
                </div>
            </div>
        </div>
    </div>
</section>
