---
layout: page
languages:
- pl
- en
subset: about
title_loc: about.title
title: About KSI
---

<section id="ksi" class="wrapper spotlight style4">
    <div class="inner">
        {% picture logo images/base/logo-ksi.png --parent class="image" %}
        <div class="content">
            <p>{% t 'intro' %}</p>
        </div>
    </div>
</section>

<section id="what" class="wrapper spotlight style2 alt">
    <div class="inner">
        <div class="content">
            <h2>{% t 'what' %}</h2>
            <ul class="clean">
                <li>
                    <a href="/{{ page.language }}/events/" class="special">{% t 'organise_events' %}</a>
                </li>
                <li>
                    <a href="/{{ page.language }}/projects/" class="special">{% t 'organise_projects' %}</a>
                </li>
                <li>
                    <strong>{% t 'welcoming-blabla' %}</strong>
                </li>
            </ul>
        </div>

    </div>
</section>

<section id="structure" class="wrapper spotlight style3">
    <div class="inner">
        <div class="content">
            <h2>{% t 'structure' %}</h2>
            <p>{% t 'structure-about' %}:</p>
            <ul class="align-left">
                <li>{% t 'the-general-meeting' %},</li>
                <li>{% t 'the-board' %},</li>
                <li>{% t 'the-audit-committee' %}.</li>
            </ul>
        </div>
    </div>
</section>

<section id="board" class="wrapper spotlight style1 alt">
    <div class="inner">
        <div class="content">
            <h2>{% t 'board' %}</h2>
            <p>{% t 'board-about' %}</p>
            <div class="row">
                <div class="col-3 col-12-medium"></div>
                <div class="col-6 col-12-medium">
                    <span class="image alt">{% picture halfpage images/about/wolek.jpg %}</span>
                    <div class="align-left">
                        <h3>Dominik Wołek</h3>
                        <h5>{% t 'president' %}</h5>
                    </div>
                </div>
                <div class="col-3 col-12-medium"></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-6 col-12-medium">
                    <span class="image alt">{% picture halfpage images/about/pardyl.jpg %}</span>
                    <h3>Adam Pardyl</h3>
                    <h5>{% t 'vp' %}</h5>
                </div>
                <div class="col-6 col-12-medium">
                    <span class="image alt">{% picture halfpage images/about/sereda.jpg %}</span>
                    <h3>Łukasz Sereda</h3>
                    <h5>{% t 'cfo' %}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-12-medium">
                    <span class="image alt">{% picture halfpage images/about/mackowski.jpg %}</span>
                    <h3>Mateusz Maćkowski</h3>
                    <h5>{% t 'member-of-the-board' %}</h5>
                </div>
                <div class="col-6 col-12-medium">
                    <span class="image alt">{% picture halfpage images/about/zimoch.jpg %}</span>
                    <h3>Elwira Zimoch</h3>
                    <h5>{% t 'member-of-the-board' %}</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="supervisor" class="wrapper spotlight style2">
    <div class="inner">
        <div class="content align-left">
            <div class="row">
                <div class="col-6 col-12-medium"></div>
                <div class="col-6 col-12-medium">
                    <h2>{% t 'supervisor' %}</h2>
                    <ul>
                        <li>prof. dr hab. inż. Marek Skomorowski</li>
                    </ul>
                    <p>{% t 'supervisor-about' %}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="audit-committee" class="wrapper spotlight style4 alt">
    <div class="inner">
        <div class="content align-left">
            <div class="row">
                <div class="col-6 col-12-medium">
                    <h2>{% t 'audit-committee' %}</h2>
                    <p>{% t 'audit-committee-about' %}</p>
                    <ul>
                        <li>Adam Piekarczyk</li>
                        <li>Wojciech Sabała</li>
                        <li>Jakub Kiermasz</li>
                    </ul>
                </div>
                <div class="col-6 col-12-medium"></div>
            </div>
        </div>
    </div>
</section>

<section id="admins" class="wrapper spotlight style1">
    <div class="inner">
        <div class="content align-left">
            <div class="row">
                <div class="col-6 col-12-medium"></div>
                <div class="col-6 col-12-medium">
                    <h2>{% t 'admins' %}</h2>
                    <p>{% t 'admins-about' %}</p>
                    <ul>
                        <li>Adam Pardyl</li>
                        <li>Mateusz Maćkowski</li>
                        <li>Adam Piekarczyk</li>
                        <li>Michał Piotrowski</li>
                        <li>Rafał Burczyński</li>
                        <li>Katarzyna Płoskonka</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="housekeepers" class="wrapper spotlight style3 alt">
    <div class="inner">
        <div class="content align-left">
            <div class="row">
                <div class="col-6 col-12-medium">
                    <h2>{% t 'housekeepers' %}</h2>
                    <p>{% t 'housekeepers-about' %}</p>
                    <ul>
                        <li>Monika Mikuła</li>
                        <li>Mateusz Olszewski</li>
                    </ul>
                </div>
                <div class="col-6 col-12-medium"></div>
            </div>
        </div>
    </div>
</section>

<section id="statute" class="wrapper spotlight style2">
    <div class="inner">
        <div class="content align-left">
            <div class="row">
                <div class="col-6 col-12-medium"></div>
                <div class="col-6 col-12-medium">
                    <h2>{% t 'statute' %}</h2>
                    <p>{% t 'statute-about' %}</p>
                    <a href="/files/statut2019.pdf" class="button icon solid fa-file-text">PDF</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="history" class="wrapper spotlight style4 alt">
    <div class="inner">
        <h2>{% t 'history' %}</h2>

        <div class="content">
            {% assign decades_data = site.data.ksi_decades | sort %}

            <div id="decade_navigator">
                {% for decade_hash in decades_data %}
                {% assign decade = decade_hash[1] %}
                <div class="decade_link" id="decade_link_{{decade_hash.first}}">
                    <a href="javascript:openDecade( {{ decade_hash.first }} )">{{ decade.name }}</a>
                </div>
                {% endfor %}
            </div>

            <div id="decade_viewer">
                {% for decade_hash in decades_data %}
                {% assign decade = decade_hash[1] %}
                <div class="decade" id="decade_{{decade_hash.first}}">
                    <h1>{{ decade.name }}-{{ decade.name | plus:10 }}</h1>
                    {% for year in decade.years %}
                    <div class="year" id="year_{{ year.year }}">
                        <h3>{{ year.year }}/{{ year.year | plus:1 }} {% if year.header != nil %}- {{ year.header
                            }}{% endif %}</h3>
                        {% if year.body != nil %}
                        <div class="year_body">{{ year.body }}</div>
                        {% endif %}
                        {% if year.zarzad_info %}
                        <div class="zarzad_czlowiek">{% if year.prezes != nil %}<span
                                class="func_header">{% t 'president' %}:</span> {{ year.prezes }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.vice != nil %}<span
                                class="func_header">{% t 'vps' %}:</span> {{ year.vice }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.skarbnik != nil %}<span
                                class="func_header">{% t 'cfo' %}:</span>
                            {{ year.skarbnik }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.sekretarz != nil %}<span
                                class="func_header">{% t 'secretary' %}:</span>
                            {{ year.sekretarz }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.czlonkowie != nil %}<span
                                class="func_header">{% t 'board_members' %}:</span>
                            {{ year.czlonkowie }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.biblioteka != nil %}<span
                                class="func_header">{% t 'librarians' %}:</span>
                            {{ year.biblioteka }} {% endif %}
                        </div>
                        <div class="zarzad_czlowiek">{% if year.gospodarz != nil %}<span
                                class="func_header">{% t 'housekeepers' %}:</span>
                            {{ year.gospodarz }} {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
